
# Created by https://www.toptal.com/developers/gitignore/api/vi
# Edit at https://www.toptal.com/developers/gitignore?templates=vi

#!! ERROR: vi is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/vi
